<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
  	<title>MLC Canteen</title>
    <link rel="icon" href="images/home_logo.png">
    <meta http-equiv="Pragma" content="no-cache">
  	<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <link rel="stylesheet" type="text/css" href="css/style.css">
</head>
<body>
  <div id="app">
    <header id="header">
      <div id="header-bar">
        <h3>MLC飯堂</h3>
          <a href="#" class="menu-button" @click="navBarShow = !navBarShow">
            <div></div>
            <div></div>
            <div></div>
          </a>
      </div>
      <nav v-show="navBarShow">
        <ul>
          <li><a href="#">Home</a></li>
          <li><a href="author-page.html">About Author</a></li>
          <li><a href="game.html">Rock Paper Scissors</a></li>
          <li><a href="#">UM Bus Data</a></li>
        </ul>
      </nav>
    </header>    
  
    
    <main id="canteen-people">
      <section v-if="days == 5 || days == 1" class="special_meal">
        今天中午 11:30 和 12:30 有限量的特色餐提供
      </section>
      <section class="today-menu">
        <img src="https://cdn3.iconfinder.com/data/icons/restaurant-34/24/menu_restaurant_food_service_3-512.png" alt="menu.png">
        <div v-if="hours < 10 || hours >= 20" class="menu-info">
          <h2>早餐菜單</h2>
          <h4>豉 油 皇 炒 米 粉 / 河 粉</h4>
          <h4>是 日 餐 粥</h4>
          <h4>茶 類 / 果 汁 / 牛奶</h4>
          <h4>蒸 腸 粉 / 陳 村 粉</h4>
          <h4>多 士 / 雞 蛋</h4>
          <h4>西 點 / 中 點</h4>
        </div>
        <div v-if="hours >= 10 && hours < 14" class="menu-info">
          <h2>午餐菜單</h2>
          <h4>水 果</h4>
          <h4>肉 骨 茶 排 骨</h4>
          <h4>蒸 水 蛋</h4>
          <h4>蘿 蔔 絲 浸 肉 丸</h4>
          <h4>時 蔬</h4>
          <h4>花 生 眉 豆 煲 雞 腳</h4>
        </div>
        <div v-if="hours >= 14 && hours < 20" class="menu-info">
          <h2>晚餐菜單</h2>
          <h4>粟 米 蒸 肉 餅</h4>
          <h4>菜 花 肉 片</h4>
          <h4>蓮 藕 花 腩</h4>
          <h4>時 蔬</h4>
          <h4>花 生 眉 豆 煲 雞 腳</h4>
        </div>
      </section>
      <section class="canteen-people">
        <div class="box-120px" >
          <h2 style="margin:0px 14%">現時飯堂人數</h2>
          <h1>{{items_length}}</h1>
        </div>
        <img :src="items_length>0 ? urlData.open : urlData.close" alt="open.jpg">
      </section>
      <section class="section-2">
        <div class="queue-states">
          <div class="box-0px">
            <h2>排隊狀態</h2>
            <h1 v-if="items_length > 80">人海戰術</h1>
            <h1 v-if="items_length > 55 && items_length <= 80">人滿為患</h1>
            <h1 v-if="items_length > 30 && items_length <= 55">輕吞慢吐</h1>
            <h1 v-if="items_length > 0 && items_length <=30">寥寥無幾</h1>
            <h1 v-if="items_length == 0">空無一人</h1>
          </div>
        </div>
        <div class="weeked-all">
          <div class="box-0px">
            <h2>今天用餐總次數</h2>
            <h1>{{full_day_people}}</h1>
          </div>
        </div>
      </section>
    </main>
    
    <footer>
      <p>Copyright © 2019 Ray wong , University of Macau.</p>
    </footer>
    
  </div>
    

</body>

<script type="text/javascript" src="js/script.js"></script>
</html>
